* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: roboto-b;
    src: url(./font/Roboto_Condensed-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: roboto-r;
    src: url(./font/Roboto_Condensed-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto-m;
    src: url(./font/Roboto_Condensed-Medium.ttf);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Header start */

header {
    width: 80%;
    height: 53px;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 133px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 18px;
}

.navbar-content ul {
    list-style: none;
    display: flex;
    gap: 22px;
}

.navbar-content ul a {
    text-decoration: none;
    color: black;
    font-family: roboto-r;
    font-size: 15px;
}

.navbar-buttons {
    display: flex;
    gap: 18px;
}

.btn-login {
    width: 96px;
    height: 52px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-family: roboto-b;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: black;
    color: white;
}

.btn-exp {
    width: 189px;
    height: 50px;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: roboto-b;
    border: none;
    transition: all 0.3s ease;
}

.btn-exp:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.header-logo {
    width: 195px;
    height: 42px;
}

/* Header end */

/* Hero start */

.hero {
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
}

.hero-top {
    width: 80%;
    height: 576px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.hero-top-left {
    width: 483px;
    height: 504px;
}

.hero-top-left h1 {
    font-family: roboto-b;
    color: black;
    font-size: 77px;
}

.hero-top-left h4 {
    font-family: roboto-r;
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-top: 27px;
}

.hero-top-left p {
    font-family: roboto-b;
    color: black;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 27px;
}

.btn-hero {
    width: 160px;
    height: 61px;
    border-radius: 100px;
    background-color: black;
    color: white;
    border: none;
    font-family: roboto-b;
    font-size: 22px;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.hero-top img {
    position: absolute;
    top: -30px;
    right: 90px;
}

.hero-bottom {
    width: 80%;
    height: 507px;
    margin: 0 auto;
    padding-top: 54px;
    display: flex;
    flex-direction: row;
    gap: 104px;
    align-items: center;
    padding-bottom: 108px;
}

.hero-bottom-right {
    width: 564px;
    height: 345px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.hero-bottom-right h1 {
    font-family: roboto-b;
    font-size: 57px;
    color: black;
    font-weight: 700;
}

.hero-bottom-right p {
    font-family: roboto-r;
    font-weight: 400;
    font-size: 20px;
}

.hero-bottom-right p span {
    text-decoration: underline;
    color: #335c81;
}

/* Hero end */

/* Switch section start */

.switch {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 125px;
}

.switch h1 {
    font-family: roboto-b;
    font-weight: 700;
    font-size: 58px;
    color: black;
}

.switch-content {
    width: 100%;
    display: flex;
    gap: 55px;
    justify-content: flex-start;
    padding-top: 63px;
    margin-bottom: 54px;
}

.switch-content-card {
    width: 309px;
    height: 333px;
    transition: transform 0.3s ease;
}

.switch-content-card:hover img {
    transform: scale(1.09);
}

.switch-content-card img {
    width: 200px;
    height: 150px;
    transition: transform 0.3s ease;
}

.switch-content-card h2 {
    font-family: roboto-b;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: black;
    margin-bottom: 10px;
    margin-top: 24px;
}

.switch-content-card p {
    font-family: roboto-r;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.switch-content-card p span {
    color: #335c81;
    text-decoration: underline;
}

.switch button {
    width: 235px;
    height: 50px;
    border-radius: 100px;
    background-color: #f7b2b7;
    color: black;
    font-family: roboto-b;
    font-weight: 700;
    font-size: 18px;
    border: none;
}

/* Switch section end */

/* Plans section start */

.plans {
    width: 100%;
    background-color: #fdeced;
    padding-top: 55px;
}

.plans-content {
    width: 80%;
    height: 650px;
    margin: 0 auto;
}

.plans-content h1 {
    font-family: roboto-r;
    font-weight: 400;
    font-size: 58px;
    line-height: 58px;
    color: black;
    margin-bottom: 20px;
    margin-top: 35px;
}

.plans-content-cards {
    display: flex;
    gap: 55px;
    padding-top: 63px;
}

.plans-card {
    width: 309px;
    height: 405px;
    display: flex;
    flex-direction: column;
}

.plans-card img {
    width: 100%;
    height: 174px;
    margin-bottom: 24px;
}

.plans-card h2 {
    font-family: roboto-b;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: black;
    margin-bottom: 10px;
}
.plans-card p {
    font-family: roboto-r;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

/* Plans section end */

/* Companies section start */

.companies {
    width: 80%;
    height: 450px;
    margin: 0 auto;
    margin-top: 36px;
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
}

.companies h2 {
    margin-top: 20px;
    font-family: roboto-r;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: black;
}

.companies-content {
    width: 700px;
    height: 360px;
    padding: 0 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.companies-content img {
    margin-bottom: 36px;
    transition: transform 0.3s ease;
}

.companies-content img:hover {
    transform: scale(1.07);
    cursor: pointer;
}

/* Companies section end */

/* Hub section start */

.hub {
    width: 80%;
    height: 637px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hub-left {
    width: 560px;
    height: 288px;
    padding-right: 17px;
}

.hub-left h1 {
    font-family: roboto-b;
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    color: black;
    margin-top: 20px;
}

.hub-left p {
    font-family: roboto-r;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black;
    margin-top: 20px;
}

.hub-left button {
    width: 140px;
    height: 50px;
    border-radius: 100px;
    background-color: #f7b2b7;
    color: black;
    font-family: roboto-b;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    border: none;
    margin-top: 79px;
}

.hub img {
    width: 483px;
    height: 451px;
}

/* Hub section end */

/* Expert section start */

.expert {
    width: 80%;
    height: 263px;
    margin: 108px auto;
    display: flex;
    padding: 90px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #8bd4d6;
}

.expert-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.expert-content h1 {
    font-family: roboto-b;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: black;
}

.expert-content p {
    font-family: roboto-r;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.expert button {
    background-color: black;
    color: white;
    font-family: roboto-b;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: 160px;
    height: 50px;
    border-radius: 100px;
    border: none;
    transition: all 0.3s ease;
}

.expert button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* Expert section end */

/* Footer start */

.footer-bg {
    background-color: #302e3f;
    margin-bottom: 30px;
    padding: 45px 0;
}

footer {
    width: 80%;
    height: 541px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.footer-top {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer-top img {
    width: 50px;
    height: 50px;
}

.footer-top h1 {
    color: white;
    font-family: roboto-r;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.footer-content {
    width: 100%;
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

.footer-content-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 45px;
}

.card1 {
    margin-left: -18px;
}

.footer-content-card h4 {
    font-family: roboto-b;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
}

.footer-content-card p {
    font-family: roboto-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #c5e9ea;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.footer-bottom-content {
    display: flex;
    gap: 27px;
    margin-top: 50px;
}

.footer-bottom-content h3 {
    font-family: roboto-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #c5e9ea;
}

/* Footer end */

/* Responsiver design start */

@media (max-width: 1200px) {
    header {
        gap: 50px;
    }
    .navbar {
        gap: 10px;
    }
    .btn-login {
        width: 80px;
    }
    .btn-exp {
        width: 170px;
    }
    .hero-top img {
        width: 550px;
        height: 450px;
    }
    .hero-top-left {
        padding-right: 25px;
    }
    .hero-top-left h4 {
        font-size: 18px;
    }
    .hero-top-left p {
        margin-top: 70px;
    }
}

@media (max-width: 992px) {
    header {
        width: 92%;
    }
    .hero-top {
        width: 92%;
    }
    .hero-bottom {
        width: 92%;
    }
    .btn-exp {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
    .btn-login {
        width: 70px;
        height: 42px;
        font-size: 16px;
        border-radius: 40px;
    }
    .hero-top img {
        width: 450px;
        right: 50px;
    }
    .hero-top-left h1 {
        font-size: 68px;
    }
    .hero-bottom-right h1 {
        font-size: 40px;
    }
    .hero-bottom-right p {
        font-size: 18px;
    }
    .switch {
        width: 92%;
    }
    .plans-content {
        width: 92%;
    }
    .companies {
        width: 92%;
    }
    .companies-content {
        width: 650px;
    }
    .hub {
        width: 92%;
    }
    .expert {
        width: 92%;
    }
    footer {
        width: 92%;
    }
    .navbar-buttons {
        gap: 10px;
    }
    .btn-hero {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .header-logo {
        width: 100px;
    }
}

@media (max-width: 576px) {
}

@media (max-width: 360px) {
}
